

<div class="button">
  <p-button (onClick)="volver()" severity="contrast" icon="pi pi-arrow-left" label="Volver" ></p-button>
</div>

<div class="product-container">
  <div class="product">
    <div class="product-left">
      <div class="image">
        <img [src]="getDisplayedImage()" alt="{{product.name}}" />
      </div>
    </div>
    <div class="product-right">
      <div class="filters">
        <p>{{product.type}}</p>
        <p class="name">{{product.name}}</p>
        <p class="price">{{product.price | currency: 'USD'}}</p>
        <p>Variaciones</p>
        <div class="colors">
          @for (shoe of product.shoes; track shoe._id) {
            <img
              [src]="shoe.image"
              alt="Variación de zapatilla"
              class="color-option"
              [class.selected]="selectedShoeId === shoe._id"
              (click)="selectShoe(shoe._id)"
            />
          }
        </div>
        <p>Talles</p>
        <div class="talles">
          @if (selectedShoeId) {
            @for (size of sizes; track size) {
              <div
                class="size-option"
                [class.unavailable]="!isSizeAvailable(size)"
                [class.selected]="selectedSize === size"
                (click)="selectSize(size)"
              >
                {{size}}
              </div>
            }
          } @else {
            <p>Selecciona una variación para ver los talles disponibles</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>

   <div class="mini-cart" *ngIf="productoSeleccionado" [class.open]="carritoAbierto">
    <div class="mini-cart-header">
      <h3>🛒 Tu compra</h3>
      <button class="close-btn" (click)="cerrarCarrito()">&times;</button>
    </div>
  
    <div class="mini-cart-body">
      <img [src]="productoSeleccionado.image" class="mini-cart-img" alt="Producto" />
      <p class="producto-nombre">{{ product.name.toUpperCase() }}</p>
      <p class="producto-detalle">Talle: <strong>{{ productoSeleccionado.size }}</strong> | Color: <strong>{{ productoSeleccionado.color }}</strong></p>
      <p class="precio-unitario">Precio unitario: <strong>{{ product.price | currency:"USD" }}</strong></p>
  
      <div class="cantidad-container">
        <label for="cantidad">Cantidad:</label>
        <input 
          type="number" 
          min="1" 
          max="2" 
          [(ngModel)]="cantidad" 
          class="cantidad-input"
        />
      </div>
  
      <p class="total">Total: <strong>{{ product.price * cantidad | currency:"USD" }}</strong></p>
  
      <button class="pagar-btn" (click)="pagarAhora()">Pagar con ePayco</button>
    </div>
  </div>
 

