

<div class="button">
  <p-button (onClick)="volver()" severity="contrast" icon="pi pi-arrow-left" label="Volver" ></p-button>
</div>

<div class="product-container">
<div class="product">
  <div class="image">
    <img [src]="getDisplayedImage()" alt="{{product.name}}" />
  </div>
  <div class="filters">
    <p>{{product.type}}</p>
    <p style="font-weight: bold; font-size: 2rem;">{{product.name}}</p>
    <p style="font-weight: bold;">{{product.price | currency: 'USD'}}</p>
    <p>Color</p>
    <div style="display: flex; flex-direction: row; gap: 10px;">
      @for (shoe of product.shoes; track shoe._id) {
        <div 
          style="width: 20px; height: 20px; cursor: pointer; border: 2px solid transparent;" 
          [style.background-color]="shoe.color"
          [style.border-color]="selectedColor === shoe.color ? 'black' : 'transparent'"
          (click)="selectColor(shoe.color)">
        </div>
      }
    </div>
    <p>Talles</p>
    <div class="talles">
      @if (selectedColor) {
        @for (size of sizes; track size) {
          <div 
  style="width: 40px; height: 40px; border: 1px solid #ccc; display: flex; align-items: center; justify-content: center; margin: 5px;"
  [style.text-decoration]="isSizeAvailable(size) ? 'none' : 'line-through'"
  [style.opacity]="isSizeAvailable(size) ? '1' : '0.5'"
  [style.cursor]="isSizeAvailable(size) ? 'pointer' : 'default'"
  [style.background-color]="selectedSize === size ? '#e0e0e0' : ''"
  (click)="selectSize(size)">
  {{size}}
</div>
        }
      } @else {
        <p>Selecciona un color para ver los talles disponibles</p>
      }
    </div>
  </div>
</div>
</div>

   <div class="mini-cart" *ngIf="productoSeleccionado" [class.open]="carritoAbierto">
    <div class="mini-cart-header">
      <h3>🛒 Tu compra</h3>
      <button class="close-btn" (click)="cerrarCarrito()">&times;</button>
    </div>
  
    <div class="mini-cart-body">
      <img [src]="productoSeleccionado.image" class="mini-cart-img" alt="Producto" />
      <p class="producto-nombre">{{ product.name.toUpperCase() }}</p>
      <p class="producto-detalle">Talle: <strong>{{ productoSeleccionado.size }}</strong> | Color: <strong>{{ productoSeleccionado.color }}</strong></p>
      <p class="precio-unitario">Precio unitario: <strong>{{ product.price | currency:"USD" }}</strong></p>
  
      <div class="cantidad-container">
        <label for="cantidad">Cantidad:</label>
        <input 
          type="number" 
          min="1" 
          max="2" 
          [(ngModel)]="cantidad" 
          class="cantidad-input"
        />
      </div>
  
      <p class="total">Total: <strong>{{ product.price * cantidad | currency:"USD" }}</strong></p>
  
      <button class="pagar-btn" (click)="pagarAhora()">Pagar con ePayco</button>
    </div>
  </div>
 

