<section class="container">

<div class="contenedor">
  @for(product of filteredProducts; track product.reference_id) {
    <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
        <div class="mb-4">
          <div class="relative mx-auto">
              <img [src]="product.image" [alt]="product.name" class="product-image" />
              <p-tag [value]="product.name"  class="absolute" styleClass="dark:!bg-surface-900" [style]="{ 'left.px': 5, 'top.px': 5 }" />
          </div>
      </div>
      <div class="mb-4 font-medium">{{ product.name }}</div>
      <div class="flex justify-between items-center w-full">
        <div class="font-bold truncate">{{ '$' + product.price }}</div>
          <span>
              <p-button [routerLink]="[`/products/${product.brand}/${product.gender}/${product._id}`]" routerLinkActive="router-link-active"  icon="pi pi-eye" styleClass="ml-2" />
          </span>
      </div>
  </div>
  } 
</div>
</section>
<div class="card flex justify-center">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="limit" [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[4, 8, 12]" />
</div>