<div class="contenedor">
  <form class="form">
    <p class="title">Registro </p>
    <p class="message">Registrate para conseguir nuestros productos! </p>
    <div class="flex">
      <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Nombre</span>
      </label>
  
      <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Apellido</span>
      </label>
    </div>

    <label>
      <input required="" placeholder="" type="address" class="input">
      <span>Dirección</span>
    </label>

    <label>
      <input required="" placeholder="" type="numberAddress" class="input">
      <span>Número de dirección</span>
    </label>
  
    <label>
      <input required="" placeholder="" type="email" class="input">
      <span>Email</span>
    </label>
  
    <label>
      <input required="" placeholder="" type="password" class="input">
      <span>Contraseña</span>
    </label>
    <label>
      <input required="" placeholder="" type="password" class="input">
      <span>Confirmar Contraseña</span>
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Ya tienes una cuenta ? <a href="#">Signin</a> </p>
  </form>
</div>
