@if (!isLoaded) {
  <!-- No mostramos nada hasta que se cargue -->
} @else {
  @if(user.orders.length <= 0) {
    <div class="no-orders-container">
      <img src="https://cdn-icons-png.flaticon.com/512/2038/2038854.png" alt="Sin órdenes" class="empty-image" />
      <h2>¡Aún no realizaste ninguna orden!</h2>
      <p>Cuando compres algo, aparecerá acá 😉</p>
      <button pButton type="button" label="Explorar productos" icon="pi pi-shopping-cart" routerLink="/products"></button>
    </div>
  } @else {
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Orden Nro°</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          @for (order of user.orders; track user._id){
            <tr>
              <th scope="row">{{order.reference_id}}</th>
              @for(producto of order.orderItems; track producto.product._id){
                <td>{{producto.product.image}}</td>
                <td>{{producto.quantity}}</td>
                <td>{{producto.price}}</td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
}
