.nav-bar {
  border-bottom: 1px solid rgb(168, 167, 167);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0px 10px
}

.content-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 0 10px;
}


p {
  text-align: center;
  display: flex;
  align-items: center;
}

p:hover {
  cursor: pointer;
}

.flex {
  margin-top: 20px;
}