.nav-bar {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.content-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}


p {
  text-align: center;
  display: flex;
  align-items: center;
}

p:hover {
  cursor: pointer;
}

.flex {
  margin-top: 20px;
}